.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8px;
}

.bg-home {
    position: relative;
}

.bg-home::before {
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url(../imagens/Snapinsta.app_387169380_18016284508859303_4563199780059292047_n_1080.jpg);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
}

.hero {
    color: #ec2300;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1 {
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 46px;
        color: #fff;
    }

    p {
        text-align: center;
        margin: 14px 0;
    }
}

.button-contact {
    padding: 14px 28px;
    color: black;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    background-color: #fff;
    font-weight: 600;
    margin: 14px 0;
}

.button-contact:hover {
    animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.07);
    }
}

@media screen and (max-width:768px) {
    .hero {
        min-width: 60vh;

        h1 {
            font-size: 34px;
            padding: 0 14px;
            width: 100%;

        }

        p {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 480px) {
    .hero h1 {
        font-size: 24px;
        margin-right: 122px;
    }

    .hero p {
        margin-right: 130px;
        font-weight: bolder;
    }

    .button-contact {
        margin-right: 122px;
    }

    .header-icons {
        margin-right: 125px;
    }

}

.about {
    background-color: #f6f69f;
    overflow: hidden;
    color: #fff;


}

.about-content {
    display: block;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin: 0;
    padding: 0;


    img {
        max-width: 100%
    }

}

.about-content div {
    flex: 1;
}

.about-description {
    h2 {
        font-size: 38px;
        margin-bottom: 24px;
        margin-left: 38px;
    }

    p {
        display: block;
        margin-left: 38px;
    }

    .funcionamento {
        margin-right: 50px;
    }
}

@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }



    img {
        max-width: 200px;
    }
}

.strong {
    color: black;
    font-weight: bolder;
}


.services {
    background-color: $white-normal;
    color: $black-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
}

.services-content h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin-bottom: 14px;
}

.services-content p {
    line-height: 150%;
    margin-bottom: 14px;
    text-align: center;
    max-width: 780px;
}

.encartes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0 44px 34px 44px;
}

.segunda {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $white-normal;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px #000;
    overflow: hidden;

    img {
        width: 100%;
        max-width: 354px;
        transition: transform 0.25;
    }
}

.segunda img:hover {
    transform: scale(1.085);
    z-index: 1;
}

.encarte-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background-color: $white-normal;
    z-index: 99;
}

.encarte-info button {
    color: $white-normal;
    padding: 4px 8px;
    background-color: #ed7028;
    border-radius: 4px;
    border: 0;
}

@media screen and (max-width:768px) {
    .encartes {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .segunda {
        margin-right: 112px;

        img {
            width: 500px;
        }

    }

    .services {
        .services-content {
            h2 {
                margin-right: 90px;
            }

            p {
                margin-right: 112px;
            }

        }

        h2 {
            margin-right: 112px;
        }
    }
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 24px;
    color: $icons;

    .footer-icons {
        margin-right: 112px;

        i {
            color: black;
        }
    }

    img {
        width: 396px;
        margin-right: 100px;
    }

    p {
        color: black;
        margin-right: 6;
    }
}

.footer-icons {
    display: flex;
    gap: 8px;
    color: $icons;

}

.btn-whatsapp {
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;

    img {
        max-width: 74px;
        transition: transform 0.4s;
    }

    img:hover {
        transform: scale(1.1);
    }
}

.btn-whatsapp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    left: -144px;
    background-color: $black-normal;
    color: $white-normal;
    opacity: 0;
    transition: opacity 0.3s;
}

.btn-whatsapp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .btn-whatsapp {
        img {
            max-width: 64px;
        }
    }
}

@media screen and (max-width: 480px) {
    .about-description {
        width: 50%;
        margin-right: 230px;

        h2 {
            color: black;
        }

        p {
            font-size: px;
        }


    }
}